html, body, .App, #root { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.header{
    width: 100%;
    height:7%;
    background-color: #e2e2e2;
    color:#696969;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
}
.header p{
    margin: 0 auto;
}
.header div{

    display: inline-flex;
    height: 60%;
    margin: 1%;
    align-items: center;
    justify-content: center;
}
.header img{
    margin-right: 3%;
    height: 100%;
}
.footer{
    width:100%;
    background-color: #222222dc;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


}
.footer p{
    padding:1%;
    height: 100%;
    font-size: 70%;
    line-height: 1;
}

.main{
    height:87% ;
    width:100%;
}
.main>div{
    height:100% ;
    width:100%;
    display: inline-flex;
}
.sideBar{
    width:25%;
    background-color: #2b6cad;
    padding:1%;
}
.sideBar .menu{
    display: none;
}

.sideBar .nav-link, .profile{
    color: white;
}
.sideBar .nav-link{
    transition: transform 330ms ease-in-out;   
}
.sideBar .nav-link:hover{
    opacity: 0.9;
    transform: translate(5%);  
}
.profile div{
    margin: 10% auto;
    text-align: center;
}
.profile img{
    border-radius: 50%;
    width: 35%;
}
.nav_arrow{
    display:none;
}

.content{
    width: 75%;
    height: 100%;
    overflow: auto;
}
.content, .content>div {
    height:100%;    
}
.experience, .education{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chronoSection{
    display: inline-flex;
    width: 100%;
}

.timeDiv{
    background-color: rgba(203, 200, 200, 0.664);
    color: rgb(114, 114, 114);
    width: 27%;
    text-align: center;
    padding:1%;
    font-size: 0.6vw;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}




.timeSection{
    width: 78%;
    padding: 1%;
    height: fit-content;
}
.timeSection h5 img{
    width: 1.5vw;
    margin-right: 3%;
}
.timeDiv, .timeSection{
    border-left: 0;
    border-right: 0;
}
.ressourcesSection{
    display:flex;
}
.ressourcesSection img{
    margin:2%;
    max-width:30%;
    height: fit-content;
}

.ressourcesSection div {
    width:100%;
    height: fit-content;
}
.ressourcesSection div div {
   padding:10%;
   padding-left: 30%;
}
.ressourcesSection a{
    border:none;
    padding:5%;
    cursor: pointer;
    box-shadow:1px 1px 5px 1px rgba(128, 128, 128, 0.594) ;
}
.ressourcesSection a img{
    width:10%;
    height:10%;
    animation: transform 200ms ease-in;
}
.ressourcesSection a:hover img{
    transform: translate(25%);
}
.skills{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding:5%;
    overflow-x: hidden;
}
.skill{
    width: 4em ;
    height: 4em;
    margin: 3%;

}
.imgSkill{
    margin: 0 auto;
    width: fit-content;
    height: 85%;
}
.imgSkill img{
    max-width: 100%;
    max-height: 100%;
}
.rating{
    margin-top: 5%;
    width: 100%;
    height: 15%;
    display: flex;
}
.rating div{
    width:20%;
    height:100%;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #f9fdf9;
    border-radius: 2px;
    color: #050505;
    font-size: 150%;
    position: absolute;
    padding: 2px 6px 3px 6px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}