html, body, .App, #root { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
    overflow: auto;
}
.breadcrumb{
    margin: 0; 
}
.main ,.content , .content>div{
    
    height:80% ;
    width:100%;
    overflow: auto;
}
.main>div{
    height:100% ;
    width:100%;
    display: inline-flex;
}
.sideBar{
    width:30%;
    background-color: #2b6cad;
    padding:1%;
}
.sideBar .nav-link, .profile{
    color: white;
}
.sideBar .nav-link{
    transition: transform 330ms ease-in-out;   
}
.sideBar .nav-link:hover{
    opacity: 0.9;
    transform: translate(5%);  
}
.profile div{
    margin: 10% auto;
    text-align: center;
}
.profile img{
    border-radius: 50%;
    width: 35%;
}
.content{

    width: 70%;
    overflow: auto;
}
.content, .content>div {
    height:100%;    
}
.chronoSection{
    display: inline-flex;
    min-height: 3em;
    width: 100%;
}

.timeDiv{
    background-color: rgba(203, 200, 200, 0.664);
    color: rgb(114, 114, 114);
    width: 27%;
    text-align: center;
    padding:1%;
    font-size: 0.7vw;


}
.timeSection{
    width: 78%;
    padding: 1%;
}
.timeDiv, .timeSection{
    border-left: 0;
    border-right: 0;
}
.ressourcesSection{
    display:flex;
}
.ressourcesSection img{
    margin:2%;
    max-width:30%;
    height: fit-content;
}
.ressourcesSection div {
    width:100%;
    height: fit-content;
}
.ressourcesSection div div {
   padding:10%;
   padding-left: 30%;
}
.ressourcesSection a{
    border:none;
    padding:5%;
    cursor: pointer;
    box-shadow:1px 1px 5px 1px rgba(128, 128, 128, 0.594) ;
}
.ressourcesSection a img{
    animation: transform 200ms ease-in;
}
.ressourcesSection a:hover img{
    transform: translate(25%);
}

